@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@plugin "tailwindcss-animate";

#gradient-overlay {
  background: rgb(3,3,3);
  background: radial-gradient(ellipse, rgba(3,3,3,0) 0%, rgba(3,3,3,1) 60%);
}

#vignette {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#vignette::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  background: radial-gradient(ellipse, rgba(3,3,3,0) 50%, rgba(3,3,3,1) 90%);
}

#gold-glow {
  background: radial-gradient(ellipse, #e9a907 0%, #e9a90700 70%);
}

#page-overlay {
  background: linear-gradient(90deg, rgba(3, 3, 3, 1) 0%, rgba(3, 3, 3, 0) 20%, rgba(3, 3, 3, 0) 80%, rgba(3, 3, 3, 1) 100%);
}